.git
.github
.idea
.tmp
.cache
.expo
.expo-shared
node_modules
**/node_modules
bin
logs
*.test
*.tsbuildinfo
apps/universal/dist
apps/universal/.expo
deploy/charts/*/charts
deploy/charts/*/tmpcharts-*
